<div class="container-fluid">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand dribble-txt" href="#">dribble</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Inspiration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Find Work</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Learn Design</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Go Pro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hire Designers</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-4" type="search" placeholder="Search" aria-label="Search">
                    <img src="../../assets/rejected.png" class="me-3" alt=""
                        style="width: 30px; height: 30px; object-fit: cover;">
                    <img src="../../assets/men.jpg" class="me-3" alt=""
                        style="width: 30px; height: 30px; object-fit: cover; border-radius: 50%;">
                    <button class="btn">Upload</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="text-center fw-medium mt-5 pb-5 text-secondary">
        <h2 class=" fw-bold text-dark">Please verify your email...</h2>
        <img src="../../assets/icons8-sent-mail-96.png" alt="">
        <p class="mt-3">Please verify your email address. We've sent a confirmation email to:</p>
        <b class="mt-2 text-dark fw-bold">account&#64;refero.design</b>
        <p class="mt-3">Click the confirmation link in that email to begin using Dribble.</p>
        <p>Didn't receive the email? Check your spam folder, it may have been caught by a filter.If <br> you still don't
            see, you can <span class="fw-bold" style="color: #ea4b8b;">resend the confirmation email.</span></p>
        <p>Wrong email address? <span class="fw-bold" style="color: #ea4b8b;">Change it.</span></p>
    </div>

    <div class="row mt-md-5 mb-5">
        <div class="col-md-1"></div>
        <div class="col-md-3 mt-md-5 pt-5">
            <p class="dribble-txt">dribble</p>
            <p>Dribble is the world's leading <br> community for creatives to share, grow, <br> and get hired.</p>
            <div>
                <i class="bi bi-dribbble"></i>
                <i class="bi bi-twitter ms-3"></i>
                <i class="bi bi-facebook ms-3"></i>
                <i class="bi bi-instagram ms-3"></i>
                <i class="bi bi-pinterest ms-3"></i>
            </div>
        </div>
        <div class="col-md-8 mt-5 pt-5">
            <div class="row">
                <div class="col-md-2 col-sm-4 col-6">
                    <p><b>For designers</b></p>
                    <p>Go Pro!</p>
                    <p>Explore design work</p>
                    <p>Design bolg</p>
                    <p>Overtime podcast</p>
                    <p>Playoffs</p>
                    <p>Weekly Warm-Up</p>
                    <p>Refer a Friend</p>
                    <p>Code of conduct</p>
                </div>
                <div class="col-md-2 col-sm-4 col-6">
                    <p><b>Hire designers</b></p>
                    <p>Post a job opening</p>
                    <p>Post a freelance project</p>
                    <p>Design bolg</p>
                    <p>Search for designers</p>
                    <p><b>Brands</b></p>
                    <p>Advertise with us</p>
                </div>
                <div class="col-md-2 col-sm-4 col-6">
                    <p><b>Company</b></p>
                    <p>About</p>
                    <p>Careers</p>
                    <p>Support</p>
                    <p>Media kit</p>
                    <p>Testimonials</p>
                    <p>API</p>
                    <p>Terms of service</p>
                    <p>Privacy policy</p>
                    <p>Cookie policy</p>
                </div>
                <div class="col-md-2 col-sm-4 col-6">
                    <p><b>Directories</b></p>
                    <p>Design jobs</p>
                    <p>Designers for hire</p>
                    <p>Freelance designers for hire</p>
                    <p>Tags</p>
                    <p>Places</p>
                    <p><b>Design assets</b></p>
                    <p>Dribble Marketplace</p>
                    <p>Creative Market</p>
                    <p>Fontspring</p>
                    <p>Font Squirrel</p>
                </div>
                <div class="col-md-2 col-sm-4 col-6">
                    <p><b>Design Resources</b></p>
                    <p>Freelancing</p>
                    <p>Design Hiring</p>
                    <p>Design Portfolio</p>
                    <p>Design Education</p>
                    <p>Creative Process</p>
                    <p>Design Industry Trends</p>
                </div>
            </div>
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-10">
            <hr>
            <div class="d-flex flex-sm-row flex-column justify-content-between pt-3 pb-3 footer">
                <p><i class="bi bi-c-circle"></i> 2023 Dribble.All rights reserved.</p>
                <p><b>20,501,853</b> shots dribbled <i class="bi bi-dribbble" style="color: #ea4b8b;"></i></p>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
