/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*{
    font-family: "Poppins", sans-serif;
}

.dribble{
    margin-left: 16%;
    color: #866216;
}

.dribble-txt{
    font-family: "Dancing Script", cursive;
    font-size: 36px;
    font-weight: 600;
    color: #a9853d;
}
